<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Sign Up</title>
</head>
<body>
    <form method = 'post' th:action="@{/user}">
        <label>
            Username:
            <input type = 'text' name = 'username' th:value="${user.username}">


        </label>

        <label>
            Email:
            <input type = 'text' name = 'email' th:value="${user.email}">
        </label>

        <label>
            Password:
            <input type = 'password' name = 'password'>
        </label>

        <label>
            Verify Password:
            <input type = 'password' name = 'verify'>

        </label>



        <input type = 'submit' value = 'Sign Up'>
    </form>

    <p1 th:errors="${user.username}"></p1>
    <p1 th:errors="${user.password}"></p1>
    <p1 th:text="${error}"></p1>
    <p1 th:errors="${user.email}"></p1>

</body>
</html>